
// `Header` module style
.Header {
    h1 {
        position: relative;
        margin: 0 auto;
        top: 6px;
        transform: translateX(16px);
    }
    
    .E-mail {
        top: -12px;
        left: 48px;
        height: 32px;
        margin: 0 auto;
        line-height: 32px;
        position: relative;
        display: inline-flex;

        img {
            position: absolute;
        }

        #mail-icon {
            top: 22px;
            left: 102.5%;
            height: 28px;
            width: 28px;

        }
        #copy-icon {
            top: 28px;
            left: 125%;
            height: 16px;
            width: 16px;
        }
        #copy-icon:hover {
            cursor: pointer;
        }
        #copy:focus, #copy:-moz-focusring, #mail:focus, #mail:-moz-focusring {
            border: none;
            outline: none;
        }

    }

    > img {
        left: 50%;
        top: 50%;
        right: 0;
        width: auto;
        height: auto;
        position: absolute;
        max-height: 144px;
        max-width: 144px;
        border-radius: 100%;
        transform: translate(-50%,-35%);
        border: .16rem dotted rgba(42, 42, 42, 0.42);
        transition: transform 150ms, left 175ms;
    }

    .bb {
        width: 32px;
        height: 32px;
        background: rgba(42, 42, 42, 0.97);
    }

    ul {
        li a {
            line-height: 24px;
            height: 32px;
            display: flex;
            padding: .33rem;
            text-align: center;
            flex-direction: row;
        }

        li:first-of-type { margin-right: 12px; }
        li:last-of-type { margin-left: 12px; }

        img {
            width: 32px;
            height: 32px;
            vertical-align: middle;
        }
        left: 2rem;
        bottom: .5rem;
        padding: 0;
        display: inline-flex;
        position: absolute;
        list-style-type: none;
        text-decoration: none;
        flex-direction: row;
    }
    min-height: 150px;
    position: relative;
}

@media screen and (max-width: 519px) {
    .Header {
        h1 {
            left: 16px;
        }
        h3 {
            left: 20px;
        }
        #mail-icon {
            top: 20px;
            left: 102.5%;
            height: 24px;
            width: 24px;

        }
        #copy-icon {
            top: 24px;
            left: 125%;
            height: 14px;
            width: 14px;
        }
        ul {
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
        }
        >img { 
            left: 50%;
            top: 50%;
            transform: translate(-50%,-35%);
        }
        min-height: 320px;
    }
}

@media screen and (min-width: 520px) {
    .Header {
        h1 {
            left: 16px;
        }
        h3 {
            left: 20px;
        }
        #mail-icon {
            top: 20px;
            left: 102.5%;
            height: 24px;
            width: 24px;

        }
        #copy-icon {
            top: 24px;
            left: 125%;
            height: 14px;
            width: 14px;
        }
        ul {
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
        }
        >img { 
            left: 50%;
            top: 50%;
            transform: translate(-50%,-35%);
        }
        min-height: 320px;
    }
}

@media screen and (min-width: 670px) {
    .Header { 
        min-height: 320px;
    }
}

@media screen and (min-width: 760px) {
    .Header {
        ul {
        }
        >img { 
            left: 70%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        min-height: 160px;
    }
}
@media screen and (min-width: 900px) {
    .Header {
        ul {
        }
        >img { 
            left: 75%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
@media screen and (min-width: 1140px) {
    .Header {
        >img { 
            left: 80%;
            right: 0;
            top: 50%;
            transform: translateY(-50%, 50%);
        }
    }
}